<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nikhgupta.eisenhower</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0D54D139-267B-4A72-930F-0D35C13C57CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ACDC79A-4462-49DE-80A9-A86210C55B51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7ACDC79A-4462-49DE-80A9-A86210C55B51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>625035F5-1F4E-48EA-AB32-2605B27ADA21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>View the Eisenhower Matrix for all tasks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eisenhower Matrix</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>625035F5-1F4E-48EA-AB32-2605B27ADA21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>eisenhower</string>
				<key>subtext</key>
				<string>View Eisenhower Matrix for all of our tasks!</string>
				<key>text</key>
				<string>Eisenhower Matrix</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D54D139-267B-4A72-930F-0D35C13C57CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://macstore.todoist.com/app?lang=en&amp;v=852#agenda%2F%40important%20%26%20%40urgent%2C%20%40important%20%26%20%40not-urgent%2C%20%40not-important%20%26%20%40urgent%2C%20%40not-important%20%26%20%40not-urgent%2C%20no%20labels</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7ACDC79A-4462-49DE-80A9-A86210C55B51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D54D139-267B-4A72-930F-0D35C13C57CE</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>625035F5-1F4E-48EA-AB32-2605B27ADA21</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>7ACDC79A-4462-49DE-80A9-A86210C55B51</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
