[Desktop Entry]
Name=Mail
Name[bg]=Поща
Name[ca]=Correu
Name[cs]=Pošta
Name[da]=Mail
Name[de]=Mail
Name[en_GB]=Mail
Name[es]=Correo
Name[et]=E-post
Name[fi]=Sähköposti
Name[fr]=E-Mail
Name[he]=דואר
Name[hr]=Pošta
Name[hu]=Levelező
Name[id]=Surel
Name[it]=Posta
Name[ja]=メール
Name[ko]=메일
Name[ku]=E-Peyam
Name[lt]=Paštas
Name[ms]=Mel
Name[nb]=E-post
Name[nl]=Mail
Name[pl]=Poczta
Name[pt]=Mail
Name[pt_BR]=Correio
Name[ro]=Poştă electronică
Name[ru]=Почта
Name[sk]=Mail
Name[sl]=Elektronska pošta
Name[sq]=Posta
Name[sr]=Пошта
Name[sv]=E-post
Name[tr]=Mail
Name[ug]=ئېلخەت
Name[uk]=Пошта
Name[zh_CN]=邮件
Name[zh_TW]=郵件
Comment=Send and receive mail
Comment[ca]=Envia i rep correu
Comment[cs]=Přijímejte a posílejte emaily
Comment[da]=Send og modtag post
Comment[de]=E-Mail-Nachrichten senden und empfangen
Comment[en_GB]=Send and receive mail
Comment[es]=Enviar y recibir correos
Comment[fi]=Lähetä ja vastaanota sähköpostia
Comment[fr]=Envoyer et recevoir des e-mails
Comment[he]=שליחה וקבלה של דואר
Comment[hr]=Šaljite i primajte e-poštu
Comment[hu]=Levelek küldése és fogadása
Comment[id]=Kirim dan terima surel
Comment[it]=Invia e ricevi email
Comment[ja]=メールを送信し受信します
Comment[ko]=메일을 주고 받습니다
Comment[lt]=Siųsti ir gauti paštą
Comment[nb]=Send og motta e-post
Comment[nl]=Verzend en ontvang e-mail
Comment[pl]=Wysyłaj i odbieraj e-maile
Comment[pt]=Enviar e receber email
Comment[pt_BR]=Enviei e receba emails
Comment[ru]=Отправить и получить почту
Comment[sl]=Pošiljajte in sprejemajte pošto
Comment[sr]=Шаљите и примајте пошту
Comment[tr]=Posta gönder ve al
Comment[zh_CN]=发送和接受邮件
Comment[zh_TW]=傳送和接收郵件
TryExec=pantheon-mail
Exec=pantheon-mail --hidden
Icon=internet-mail
Keywords=Email;E-mail;Mail;
Keywords[bg]=Ел. поща;Електронна поща;Писмо;
Keywords[ca]=Correu electrònic;Correu electrònic;Correu;
Keywords[cs]=Email;E-mail;Pošta;
Keywords[da]=Email;Epost;E-mail;E-post;Mail;Post;
Keywords[de]=Email;E-mail;Mail;
Keywords[el]=Email;E-mail;Mail;
Keywords[en_GB]=Email;E-mail;Mail;
Keywords[es]=correo;correo electrónico;email;e-mail;
Keywords[et]=Email;E-mail;Mail;Meil;E-post;Epost;
Keywords[fi]=Email;E-mail;Mail;posti;sähköposti;maili;
Keywords[fr]=Email;E-mail;Mail;Courriel;Courrier;électronique;Pourriel;
Keywords[he]=דואר;דוא״ל;דואר אלקטרוני;מייל;דוא"ל;
Keywords[hr]=Epošta;E-pošta;Pošta;
Keywords[hu]=Email;E-mail;Levél;
Keywords[id]=Email;E-mail;Mail;
Keywords[it]=Email;E-mail;Mail;Posta;Posta elettronica;
Keywords[ja]=Email;E-mail;Mail;E メール;電子メール;メール;
Keywords[ko]=이메일;E-메일;메일;
Keywords[lt]=El.paštas;El. paštas;Paštas;El.pastas;
Keywords[nb]=Epost;E-post;Post;
Keywords[pl]=Email;E-mail;Mail;Poczta;
Keywords[pt]=Email;E-mail;Mail;
Keywords[pt_BR]=Email;E-mail;Correio;
Keywords[ro]=Poştă electronică; Mesagerie; Mesaj;
Keywords[ru]=Email;E-mail;Mail;Почта;Письмо;
Keywords[sk]=Email;E-mail;Pošta
Keywords[sl]=Email;E-mail;Mail;Pošta;Elektronska pošta;epošta;
Keywords[sq]=Email;E-mail;Mail;
Keywords[sr]=е-пошта;пошта;
Keywords[sv]=E-post;Mail;Mejl;
Keywords[tr]=EPosta;E-Posta;Posta;
Keywords[ug]=ئېلخەت
Keywords[zh_CN]=电子邮件;电子邮件;邮件;
Keywords[zh_TW]=Email;E-mail;Mail;電子郵件;郵件;電郵;
Type=Application
Terminal=false
Categories=GNOME;GTK;Network;Email;
StartupNotify=true
NoDisplay=true
