[Desktop Entry]
Version=1.0
Type=Application
Name=SessionStartup
Comment=Things to do after Deepin Session is started.
Exec=/home/nikhgupta/.bin/session/session.sh
Icon=session
Terminal=false
StartupNotify=false
Categories=Session;
