@import url('/home/nikhgupta/.local/share/gnome-shell/extensions/no-title-bar@jonaspoehler.de/stylesheet.css');
@import url('/home/nikhgupta/.local/share/gnome-shell/extensions/no-title-bar@jonaspoehler.de/stylesheet-tiled.css');

VteTerminal, vte-terminal {
  padding: 20px;
}
#vim-main-window {
  background-color: #282a36; /*: theme background color */
}
.window-frame {box-shadow: none; }
@import 'colors.css';