[submodule "vim/bundle/YankRing"]
	path = vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/colors/solarized"]
	path = vim/colors/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/css_color"]
	path = vim/bundle/css_color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/scratch"]
	path = vim/bundle/scratch
	url = https://github.com/duff/vim-scratch.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/colors/getafe"]
	path = vim/colors/getafe
	url = https://github.com/vim-scripts/Getafe.git
