*/.atom/.apm/
*/.atom/.node-gyp/
*/.atom/blob-store/
*/.atom/compile-cache/
*/.atom/packages/
*/.atom/storage/
*/.atom/.atom-socket-*
*/.bin/test.sh
*/.config/mpv/watch_later/
*/.vim/bundle/*
*/.vim/tmp/*
*/.vim/.netrwhist
*/.config/mps-youtube/*
*/.config/rtorrent/sessions

# but do not ignore these
!*/.vim/bundle/.keep
!*/.config/mps-youtube/config
