/private
/vim/.tmp/*
.netrwhist
!.notempty
/vim/wiki/
/vim/sessions/
.DS_Store
/vim/bundle/*
!/vim/bundle/vundle/
!/vim/bundle/vundle/*
/vim/.cache/
/vim/bookmarks
/vim/tasks.txt
/emacs/kits/*
!/emacs/kits/babel/
!/emacs/kits/babel/*
