#!/usr/bin/env zsh

# PATH additions
export PATH="~/bin:$PATH"

# MY DETAILS
export MY_NAME="Nikhil Gupta"
export MY_MAIL="me@nikhgupta.com"
export MY_NICK="nikhgupta"
export GHTOKEN="your-github-token"

