#!/usr/bin/env zsh

# This file stores all the sensitive information
# that should NOT be commited to the Dotfiles repository
# on the Github. This file is added to the .gitignore file

# my name and my email - all that defines me ;)
export MY_NAME="Your Name"
export MY_MAIL="your@email.address"

# 90% times, all the services will have this nick name pointing at me
# which makes it very essential to track this ;)
export MY_NICK="your-super-awesome-nick"

# git credentials
export GIT_AUTHOR_NAME="$MY_NAME"
export GIT_AUTHOR_EMAIL="$MY_MAIL"

export GIT_COMMITTER_NAME="$MY_NAME"
export GIT_COMMITTER_EMAIL="$MY_MAIL"

export GITHUB_USER="$MY_NICK"
export GITHUB_TOKEN="your-github-token"

# configuration for git.sendemail.smtpuser
export GIT_GMAIL_SMTP_USER="$MY_MAIL"

# global exclude/ignore file for git :)
export GLOBAL_GIT_EXCLUDE_FILE="$HOME/.gitignore"

# I use a custom template to generate Ctags whenever I checkout a repository
# you can optionally disable it here!
export GIT_INIT_TEMPLATE_DIR="$DOT_DIR/git/template"

# change the path to the configuration file for Todo.txt-cli script
export TODO_TXT_CLI_CONFIG_FILE="$HOME/Dropbox/Code/__todos/todo.cfg"
