[Desktop Entry]
Name=Tracker RSS/ATOM Feeds Miner
Name[ar]=مُنقِّب RSS/ATOM للمُقتفِي
Name[as]=ট্ৰেকাৰ RSS/ATOM ফীডসমূহ মাইনাৰ
Name[bg]=Анализатор на емисиите по RSS/ATOM
Name[bs]=Tragač RSS/ATOM Rudar Feedova
Name[ca]=Extractor de dades de canals RSS/ATOM del Tracker
Name[ca@valencia]=Extractor de dades de canals RSS/ATOM del Tracker
Name[cs]=Démon Tracker na dolování dat z kanálů RSS/ATOM
Name[da]=Trackers RSS/ATOM-nyhedskildeindeksering
Name[de]=Tracker-Indizierer für RSS/ATOM-Nachrichtenquellen
Name[el]=Εξορύκτης ροών RSS/ATOM
Name[en_GB]=Tracker RSS/ATOM Feeds Miner
Name[es]=Minero de proveedores RSS/ATOM de Tracker
Name[et]=Trackeri RSS/ATOM voogude kaevur
Name[eu]=Tracker RSS/ATOM iturrien biltzailea
Name[fr]=Collecteur des flux RSS/ATOM de Tracker
Name[fur]=Estratôr di feed RSS/ATOM Tracker
Name[gl]=Mineiro de fornecedores RSS/ATOM de Tracker
Name[hu]=Tracker RSS/ATOM hírforrás-adatbányász
Name[id]=Tracker Penambang Asupan RSS/ATOM
Name[it]=Estrattore di feed RSS/ATOM Tracker
Name[ja]=RSS/ATOM 配信元の収集
Name[ko]=트래커 RSS/ATOM 피드 수집기
Name[lt]=„Tracker“ RSS/ATOM įrašų gavėjas
Name[lv]=Tracker RSS/ATOM plūsmu racējs
Name[nb]=Tracker graver for RSS/ATOM-strømmer
Name[nl]=Tracker RSS/ATOM-feeds-miner
Name[oc]=Collector dels fluxes RSS/ATOM de Tracker
Name[pl]=Przeszukiwanie kanałów RSS/Atom programu Tracker
Name[pt]=Analisador Tracker de RSS/ATOM Feeds
Name[pt_BR]=Tracker - Mineração de feeds RSS/Atom
Name[ro]=Miner de date Tracker pentru fluxuri RSS/ATOM
Name[ru]=Индексатор лент RSS/ATOM
Name[sk]=Sledovač dolovača kanálov RSS/ATOM
Name[sl]=Podatkovno rudarjenje virov RSS/ATOM
Name[sr]=Трагачев копач РСС/АТОМ довода
Name[sr@latin]=Tragačev kopač RSS/ATOM dovoda
Name[sv]=Trackers RSS/ATOM-flödesinsamlare
Name[tr]=Tracker RSS/ATOM Besleme Tarayıcısı
Name[uk]=Індексатор стрічок RSS/ATOM
Name[vi]=Máy đào Tracker RSS/ATOM Feeds
Name[zh_CN]=Tracker RSS/ATOM Feed 挖掘器
Name[zh_HK]=Tracker RSS/ATOM 餵送礦工
Name[zh_TW]=Tracker RSS/ATOM 餵送礦工
Comment=Fetch RSS/ATOM feeds
Comment[ar]=اجلب تلقيمات RSS/ATOM
Comment[as]=RSS/ATOM ফীডসমূহ প্ৰাপ্ত কৰক
Comment[bg]=Изтегляне на емисиите по RSS/ATOM
Comment[bs]=Uhvati RSS/ATOM Feedove
Comment[ca]=Recull canals RSS/ATOM
Comment[ca@valencia]=Recull canals RSS/ATOM
Comment[cs]=Stáhnout kanály RSS/ATOM
Comment[da]=Hent RSS-/ATOM-nyhedskilder
Comment[de]=RSS/ATOM-Nachrichtenquellen abfragen
Comment[el]=Ανάκτηση ροών RSS/ATOM
Comment[en_GB]=Fetch RSS/ATOM feeds
Comment[es]=Obtener proveedores RSS/ATOM
Comment[et]=RSS/ATOM voogude tõmbamine
Comment[eu]=Eskuratu RSS/ATOM iturriak
Comment[fi]=Nouda RSS/ATOM-syötteet
Comment[fr]=Parcourt les flux RSS/ATOM
Comment[fur]=Scjarie feed RSS/ATOM
Comment[gl]=Obter fornecedores RSS/ATOM
Comment[hu]=RSS/ATOM hírforrások lekérése
Comment[id]=Mengambil asupan RSS/ATOM
Comment[it]=Scarica feed RSS/ATOM
Comment[ja]=RSS/ATOM 形式の配信元を収集します
Comment[ko]=RSS/ATOM 피드를 가져옵니다.
Comment[lt]=Parsiųsti RSS/ATOM įrašus
Comment[lv]=Saņemt RSS/ATOM plūsmas
Comment[ml]=RSS/ATOM ഫീഡുകള്‍ ലഭ്യമാക്കുക
Comment[nb]=Hent RSS/ATOM-strømmer
Comment[nl]=RSS/ATOM-feeds ophalen
Comment[oc]=Percor los fluxes RSS/ATOM
Comment[pl]=Pobieranie kanałów RSS/Atom
Comment[pt]=Obter feeds RSS/ATOM
Comment[pt_BR]=Obter atualizações de RSS/ATOM
Comment[ro]=Actualizează fluxurile RSS/ATOM
Comment[ru]=Получить ленты RSS/ATOM
Comment[sk]=Sleduje výber kanálov RSS/ATOM
Comment[sl]=Pridobi vire RSS/ATOM
Comment[sr]=Преузмите РСС/АТОМ доводе
Comment[sr@latin]=Preuzmite RSS/ATOM dovode
Comment[sv]=Hämta RSS/ATOM-flöden
Comment[tr]=RSS/ATOM beslemelerini getir
Comment[uk]=Отримати стрічки RSS/ATOM
Comment[vi]=Lấy RSS/ATOM feeds
Comment[zh_CN]=获取 RSS/ATOM Feed
Comment[zh_HK]=取回 RSS/ATOM 餵送
Comment[zh_TW]=取回 RSS/ATOM 餵送
Icon=
Exec=/usr/lib/tracker/tracker-miner-rss
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Miners
X-GNOME-Bugzilla-Version=1.12.0
X-GNOME-Autostart-enabled=false
