configuration {
    theme:                          "config";
    show-icons:                     false;
}

mainbox {
    width:                          600px;
    margin:                         240px 660px;
}

entry  {
    width:                          240px;
    margin:                         0px 0px 0px 0px;
}

element {
    expand:                         false;
    margin:                         0;
}
