<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.file.actions.24</string>
	<key>connections</key>
	<dict>
		<key>0941FA29-8416-4289-A6B8-4165625D4A55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43B4995C-03B0-4B5B-9E3A-AD5F999C08F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B745ABB-0AA9-4E4A-8927-5992D8AFC0CF</key>
		<array/>
		<key>15DA7D17-04E3-4987-ADF8-5D904173CEDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6949EE20-E98F-41A8-8D0F-3B7EAE80D7CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>165DF2AE-027E-46DE-95F1-6444540EC24D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0C89E5B-422E-477E-B31D-93703C3E37B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>177F946E-060E-4A3C-AA30-4846B0684274</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>237B73E3-34B1-4219-A931-904504531BA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A6F260B-D51D-4E14-80AE-876E69833BF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A020D59-FE40-4328-A767-B5725A876915</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8CDF209-EBA6-4DC3-AB50-FEE7100F67BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4290BC9F-6810-4834-A8BB-757BB3448500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43B4995C-03B0-4B5B-9E3A-AD5F999C08F0</key>
		<array/>
		<key>4734A1CE-71AC-4EF4-B023-1650DD4E44A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F0EB3EF-4FC7-4661-96DA-63AD9CC2D8D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>474B26D3-4450-49AC-A7C4-C9D71DDD76E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7CA58E2-43C2-41BF-A5FE-EE67AF7510B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C7533DD-F6F2-4D2E-B3F7-2BCFA50D49A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4734A1CE-71AC-4EF4-B023-1650DD4E44A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F0EB3EF-4FC7-4661-96DA-63AD9CC2D8D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B745ABB-0AA9-4E4A-8927-5992D8AFC0CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5254A722-B4CF-450F-A146-D94022D0D99F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6949EE20-E98F-41A8-8D0F-3B7EAE80D7CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57AB6F96-9189-4E21-8E77-3D27FA388664</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9798DA32-2509-4F25-A509-EB1B490F1B9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D838964-73AF-474B-BD3D-F69814EDB761</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>876D53F6-E87B-4829-B0A1-209E4531E5F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80A02279-4EB1-4B30-BA7F-D41C31EE28BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CC3405C-70D3-4138-A870-B8C2CACCBE8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95CE1AA4-AFB9-486F-BA43-359EE4BCFE98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D43C3893-C964-40AC-8885-C4C1866124CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>973E95B3-0ADF-442D-8CBE-EB91FA2ED3A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15DA7D17-04E3-4987-ADF8-5D904173CEDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9798DA32-2509-4F25-A509-EB1B490F1B9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CC3405C-70D3-4138-A870-B8C2CACCBE8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A409F4C0-E91C-475F-B62C-754FCBCE18A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A589A108-2655-409C-8908-9ABF7E7EFABE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A589A108-2655-409C-8908-9ABF7E7EFABE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A8CDF209-EBA6-4DC3-AB50-FEE7100F67BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF0DEA47-B230-4D4E-BD99-1021601AE1AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C521E9AC-4C05-4E5D-B36E-B6DA437284AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF0DEA47-B230-4D4E-BD99-1021601AE1AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C596A401-A78A-4266-8945-2B191BB8CBF6</key>
		<array/>
		<key>C8CF626A-8D5A-4D55-8AB8-E0B87BD656A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>177F946E-060E-4A3C-AA30-4846B0684274</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C962B8D4-9135-48ED-814C-6305DAE82873</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>165DF2AE-027E-46DE-95F1-6444540EC24D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA7377D2-2480-45DD-A0E4-1AAB5F4A910A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4290BC9F-6810-4834-A8BB-757BB3448500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0C89E5B-422E-477E-B31D-93703C3E37B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C596A401-A78A-4266-8945-2B191BB8CBF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D43C3893-C964-40AC-8885-C4C1866124CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>237B73E3-34B1-4219-A931-904504531BA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E074972D-2A62-407B-9472-B5C9CECEAE05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>976862D7-9AD5-4F3F-8687-4FFEB11ADE2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC932FFD-E3FD-462E-BB1C-8848A0D80471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5254A722-B4CF-450F-A146-D94022D0D99F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFBA68A2-E374-4725-9573-7B9A290E14D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF286C4F-AEE8-450A-9C35-CE8CB9606F41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Various file actions I made to operate on files and folders</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cp -r "{query}" ~/Desktop</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CC3405C-70D3-4138-A870-B8C2CACCBE8E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy to Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>80A02279-4EB1-4B30-BA7F-D41C31EE28BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to iTunes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A409F4C0-E91C-475F-B62C-754FCBCE18A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv "{query}" ~/Music/iTunes/Automatically\ Add\ to\ iTunes.localized</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A589A108-2655-409C-8908-9ABF7E7EFABE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv "{query}" /Applications</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9798DA32-2509-4F25-A509-EB1B490F1B9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to applications</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>57AB6F96-9189-4E21-8E77-3D27FA388664</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>cd to iTerm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>CA7377D2-2480-45DD-A0E4-1AAB5F4A910A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "iTerm"	if exists window 1 then		tell current window			tell current session to write text "cd {query}"		end tell	else		create window with default profile		tell current window			tell current session to write text "cd {query}"		end tell	end ifend tell
tell application "System Events"	if frontmost of process "iTerm2" is false then key code 13 using {option down, control down, shift down, command down}end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4290BC9F-6810-4834-A8BB-757BB3448500</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># THESE VARIABLES MUST BE SET. SEE THE ONEUPDATER README FOR AN EXPLANATION OF EACH.
readonly remote_info_plist="https://raw.githubusercontent.com/nikitavoloboev/small-workflows/master/file-actions/workflow/info.plist"
readonly workflow_url="https://raw.githubusercontent.com/nikitavoloboev/small-workflows/master/file-actions/File%20actions.alfredworkflow"
readonly download_type='direct'
readonly frequency_check='7'

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED!
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${download_type}" =~ ^(direct|page|github_release)$ ]] || abort "'download_type' (${download_type}) needs to be one of 'direct', 'page', or 'github_release'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" == "${remote_version}" ]]; then
    touch "${local_info_plist}" # Reset timer by touching local file
    exit 0
  fi

  if [[ "${download_type}" == 'page' ]]; then
    notification 'Opening download page…'
    open "${workflow_url}"
    exit 0
  fi

  download_url="$([[ "${download_type}" == 'github_release' ]] &amp;&amp; curl --silent "https://api.github.com/repos/${workflow_url}/releases/latest" | grep 'browser_download_url' | head -1 | sed -E 's/.*browser_download_url": "(.*)"/\1/' || echo "${workflow_url}")"

  if url_exists "${download_url}"; then
    notification 'Downloading and installing…'
    curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${download_url}"
    open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
  else
    abort "'workflow_url' (${download_url}) appears to not be reachable."
  fi
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1A6F260B-D51D-4E14-80AE-876E69833BF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>237B73E3-34B1-4219-A931-904504531BA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/iTerm.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D43C3893-C964-40AC-8885-C4C1866124CC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>cd in iTerm (new window)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>95CE1AA4-AFB9-486F-BA43-359EE4BCFE98</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C521E9AC-4C05-4E5D-B36E-B6DA437284AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mv "{query}" ~/Desktop</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BF0DEA47-B230-4D4E-BD99-1021601AE1AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C8CF626A-8D5A-4D55-8AB8-E0B87BD656A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>for var in "{query}"
do
	mv "$var" ~/.Trash
done</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>177F946E-060E-4A3C-AA30-4846B0684274</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Photos.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A8CDF209-EBA6-4DC3-AB50-FEE7100F67BD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to Photos</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>3A020D59-FE40-4328-A767-B5725A876915</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy contents</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>474B26D3-4450-49AC-A7C4-C9D71DDD76E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbcopy &lt; '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7CA58E2-43C2-41BF-A5FE-EE67AF7510B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create file named {query} inside {var:dir}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0C89E5B-422E-477E-B31D-93703C3E37B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>touch "$dir/$1"
/usr/local/bin/subl "$dir/$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C596A401-A78A-4266-8945-2B191BB8CBF6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Create file inside this folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>C962B8D4-9135-48ED-814C-6305DAE82873</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>dir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>165DF2AE-027E-46DE-95F1-6444540EC24D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>name</key>
				<string>Create folder inside this folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4C7533DD-F6F2-4D2E-B3F7-2BCFA50D49A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>mkdir "$dir/$1"
/usr/local/bin/subl "$dir/$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B745ABB-0AA9-4E4A-8927-5992D8AFC0CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>create folder named {query} inside {var:dir}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F0EB3EF-4FC7-4661-96DA-63AD9CC2D8D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>dir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4734A1CE-71AC-4EF4-B023-1650DD4E44A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo -n $(basename "{query}");</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>15DA7D17-04E3-4987-ADF8-5D904173CEDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Get File Name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>973E95B3-0ADF-442D-8CBE-EB91FA2ED3A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6949EE20-E98F-41A8-8D0F-3B7EAE80D7CB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>size=`du -h "{query}" | awk '{print $1;}'`;
echo -n $size;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5254A722-B4CF-450F-A146-D94022D0D99F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Get File Size</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>EC932FFD-E3FD-462E-BB1C-8848A0D80471</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

/bin/cat "$query" | /usr/bin/pbcopy ;</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF286C4F-AEE8-450A-9C35-CE8CB9606F41</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy File Contents to Pasteboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FFBA68A2-E374-4725-9573-7B9A290E14D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

currentD=`/usr/bin/dirname "$query"`;
parentD=`/usr/bin/dirname "$currentD"`;
/bin/mv "$query" "$parentD";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>876D53F6-E87B-4829-B0A1-209E4531E5F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Move to Parent Directory</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5D838964-73AF-474B-BD3D-F69814EDB761</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

currentD=`/usr/bin/dirname "$query"`;
parentD=`/usr/bin/dirname "$currentD"`;
/bin/cp -R "$query" "$parentD";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>976862D7-9AD5-4F3F-8687-4FFEB11ADE2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Copy to Parent Directory</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>E074972D-2A62-407B-9472-B5C9CECEAE05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Duplicate the File</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>0941FA29-8416-4289-A6B8-4165625D4A55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>dirName=`dirname "{query}"`;
baseName=`basename "{query}"`;
ext="${baseName##*.}";
fileName=`basename "$baseName" ".$ext"`;

cp -R "{query}" "$dirName/$fileName-copy.$ext";

echo "$dirName/$fileName-copy.$ext";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43B4995C-03B0-4B5B-9E3A-AD5F999C08F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

Double click this workflow in sidebar -&gt; Open website.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>0941FA29-8416-4289-A6B8-4165625D4A55</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>2300</integer>
		</dict>
		<key>0B745ABB-0AA9-4E4A-8927-5992D8AFC0CF</key>
		<dict>
			<key>note</key>
			<string>Create folder and open it in Sublime Text</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>15DA7D17-04E3-4987-ADF8-5D904173CEDD</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1570</integer>
		</dict>
		<key>165DF2AE-027E-46DE-95F1-6444540EC24D</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
		<key>177F946E-060E-4A3C-AA30-4846B0684274</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>1A6F260B-D51D-4E14-80AE-876E69833BF8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>237B73E3-34B1-4219-A931-904504531BA1</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>3A020D59-FE40-4328-A767-B5725A876915</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>4290BC9F-6810-4834-A8BB-757BB3448500</key>
		<dict>
			<key>note</key>
			<string>cd to folder in current iTerm tab</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>43B4995C-03B0-4B5B-9E3A-AD5F999C08F0</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>2300</integer>
		</dict>
		<key>4734A1CE-71AC-4EF4-B023-1650DD4E44A6</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1440</integer>
		</dict>
		<key>474B26D3-4450-49AC-A7C4-C9D71DDD76E1</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>4C7533DD-F6F2-4D2E-B3F7-2BCFA50D49A7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>4F0EB3EF-4FC7-4661-96DA-63AD9CC2D8D8</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1410</integer>
		</dict>
		<key>5254A722-B4CF-450F-A146-D94022D0D99F</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>1710</integer>
		</dict>
		<key>57AB6F96-9189-4E21-8E77-3D27FA388664</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>5D838964-73AF-474B-BD3D-F69814EDB761</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>2010</integer>
		</dict>
		<key>6949EE20-E98F-41A8-8D0F-3B7EAE80D7CB</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1710</integer>
		</dict>
		<key>80A02279-4EB1-4B30-BA7F-D41C31EE28BD</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>876D53F6-E87B-4829-B0A1-209E4531E5F4</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>2010</integer>
		</dict>
		<key>95CE1AA4-AFB9-486F-BA43-359EE4BCFE98</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>973E95B3-0ADF-442D-8CBE-EB91FA2ED3A7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1570</integer>
		</dict>
		<key>976862D7-9AD5-4F3F-8687-4FFEB11ADE2E</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>2150</integer>
		</dict>
		<key>9798DA32-2509-4F25-A509-EB1B490F1B9B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>9CC3405C-70D3-4138-A870-B8C2CACCBE8E</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A409F4C0-E91C-475F-B62C-754FCBCE18A8</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A589A108-2655-409C-8908-9ABF7E7EFABE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A8CDF209-EBA6-4DC3-AB50-FEE7100F67BD</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>980</integer>
		</dict>
		<key>B7CA58E2-43C2-41BF-A5FE-EE67AF7510B4</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>1110</integer>
		</dict>
		<key>BF0DEA47-B230-4D4E-BD99-1021601AE1AE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>C521E9AC-4C05-4E5D-B36E-B6DA437284AD</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>C596A401-A78A-4266-8945-2B191BB8CBF6</key>
		<dict>
			<key>note</key>
			<string>Create file and open it in Sublime Text</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>C8CF626A-8D5A-4D55-8AB8-E0B87BD656A3</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>C962B8D4-9135-48ED-814C-6305DAE82873</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>CA7377D2-2480-45DD-A0E4-1AAB5F4A910A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>D0C89E5B-422E-477E-B31D-93703C3E37B8</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1250</integer>
		</dict>
		<key>D43C3893-C964-40AC-8885-C4C1866124CC</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>DF286C4F-AEE8-450A-9C35-CE8CB9606F41</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>1870</integer>
		</dict>
		<key>E074972D-2A62-407B-9472-B5C9CECEAE05</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>2150</integer>
		</dict>
		<key>EC932FFD-E3FD-462E-BB1C-8848A0D80471</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>1710</integer>
		</dict>
		<key>FFBA68A2-E374-4725-9573-7B9A290E14D1</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1870</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.5</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/small-workflows/blob/master/file-actions#readme</string>
</dict>
</plist>
