<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.pipe</string>
	<key>connections</key>
	<dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D296119-4F9D-4FDC-9777-1DA7CF655D19</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D296119-4F9D-4FDC-9777-1DA7CF655D19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B8A5712-D806-47E3-9045-EC31AB0C6485</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB1F4AD1-CC6A-4CE9-9953-5BA92C4B2634</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39932D9C-E166-4541-96DD-CB688AC3AC97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA80CA00-3581-44C7-BE72-66A1285D4198</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51CD3227-55F9-4AB5-BF83-79C74807C152</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60EC2263-CC57-4763-8CEA-629C2E53E6EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51CD3227-55F9-4AB5-BF83-79C74807C152</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Display in large type</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D4DF549F-4556-4AA6-BF1A-159154EB3051</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste on completion</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E5E1774-FB5B-47C7-A0E0-AE958708254F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39932D9C-E166-4541-96DD-CB688AC3AC97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B8A5712-D806-47E3-9045-EC31AB0C6485</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E5E1774-FB5B-47C7-A0E0-AE958708254F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A94F5286-0602-4B7F-A5D3-55FDD8AB3217</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42BF3CF4-67C1-4182-B7F5-7456DB227F9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB1F4AD1-CC6A-4CE9-9953-5BA92C4B2634</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FCF109F-A181-4D53-A4DB-DB54DA7440B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4DF549F-4556-4AA6-BF1A-159154EB3051</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D637E280-521E-432F-85C1-3F58E064A66E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF37CF97-11D9-4324-ADDD-6F67B697BD34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A94F5286-0602-4B7F-A5D3-55FDD8AB3217</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Process clipboard contents through shell command</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pipe</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A94F5286-0602-4B7F-A5D3-55FDD8AB3217</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FF37CF97-11D9-4324-ADDD-6F67B697BD34</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>pipe</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>42BF3CF4-67C1-4182-B7F5-7456DB227F9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D637E280-521E-432F-85C1-3F58E064A66E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>FA80CA00-3581-44C7-BE72-66A1285D4198</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8E5E1774-FB5B-47C7-A0E0-AE958708254F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:display}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>39932D9C-E166-4541-96DD-CB688AC3AC97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>display</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>51CD3227-55F9-4AB5-BF83-79C74807C152</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:paste}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9B8A5712-D806-47E3-9045-EC31AB0C6485</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Processing…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pipe.py</string>
				<key>subtext</key>
				<string>Enter one-liner or alias</string>
				<key>title</key>
				<string>Pipe clipboard through one-liner</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1D296119-4F9D-4FDC-9777-1DA7CF655D19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0FCF109F-A181-4D53-A4DB-DB54DA7440B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>pipe</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>60EC2263-CC57-4763-8CEA-629C2E53E6EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D4DF549F-4556-4AA6-BF1A-159154EB3051</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:paste}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CB1F4AD1-CC6A-4CE9-9953-5BA92C4B2634</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Trigger the workflow by hotkey or keyword (default=`|`, override with the `keyword` variable) followed by an arbitrarily simple or complex shell one-liner to transform the contents of the clipboard in-place; optionally use the `Cmd`-modifier to immediately paste the results into the foreground app.

### Examples

- Transform to UPPERCASE: `| perl -nle 'print uc'` or `| tr a-z A-Z`
- Base64 encode: `| base64`
- Base64 decode: `| base64 --decode`
- Top 10 unique lines with counts: `| sort | uniq -c | sort -rn | head -10`

### Built-ins

A number of example pipelines (including those above) are [built-in](https://github.com/isometry/alfred-pipe/raw/master/builtins.json).

Built-ins can be disabled en-mass by setting the `load_builtins` variable to any value other than `yes`.

### Aliases

To save repetitive typing, custom aliases can be defined with the following syntax:

`| alias NAME=PIPE | LINE @@@`

The trailing `@@@` (override with the `alias_terminator` variable) terminates the alias definition and causes it to be saved.

#### Examples

- `| alias tac=sed '1!G;h;$!d' @@@`
- `| alias top10=sort | uniq -c | sort -rn | head -10 @@@`

#### Alias removal

Any custom alias can be removed with:

`| alias NAME=@@@`</string>
	<key>uidata</key>
	<dict>
		<key>0FCF109F-A181-4D53-A4DB-DB54DA7440B8</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>note</key>
			<string>Run the one-liner</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1D296119-4F9D-4FDC-9777-1DA7CF655D19</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>39932D9C-E166-4541-96DD-CB688AC3AC97</key>
		<dict>
			<key>note</key>
			<string>display==1</string>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>42BF3CF4-67C1-4182-B7F5-7456DB227F9F</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>51CD3227-55F9-4AB5-BF83-79C74807C152</key>
		<dict>
			<key>note</key>
			<string>display=1</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>60EC2263-CC57-4763-8CEA-629C2E53E6EB</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</key>
		<dict>
			<key>note</key>
			<string>Prompt for one-liner or alias</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8E5E1774-FB5B-47C7-A0E0-AE958708254F</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9B8A5712-D806-47E3-9045-EC31AB0C6485</key>
		<dict>
			<key>note</key>
			<string>paste!=1</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>A94F5286-0602-4B7F-A5D3-55FDD8AB3217</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>CB1F4AD1-CC6A-4CE9-9953-5BA92C4B2634</key>
		<dict>
			<key>note</key>
			<string>paste==1</string>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>D4DF549F-4556-4AA6-BF1A-159154EB3051</key>
		<dict>
			<key>note</key>
			<string>paste=1</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>D637E280-521E-432F-85C1-3F58E064A66E</key>
		<dict>
			<key>note</key>
			<string>Transform clipboard</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>FA80CA00-3581-44C7-BE72-66A1285D4198</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>FF37CF97-11D9-4324-ADDD-6F67B697BD34</key>
		<dict>
			<key>note</key>
			<string>Transform selection</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alias_terminator</key>
		<string>@@@</string>
		<key>keyword</key>
		<string>|</string>
		<key>load_builtins</key>
		<string>yes</string>
		<key>max_results</key>
		<string>9</string>
	</dict>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfredworkflows/tree/master/net.isometry.alfred.pipe</string>
</dict>
</plist>
