<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nikhgupta.dataurl-generator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A3C2723-AA56-4A27-9208-D5D2415A15DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2231AE0D-60A7-4CE5-A240-B7B48A6D5EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12EB22FB-3B04-45CC-9B83-4C6427645ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A3C2723-AA56-4A27-9208-D5D2415A15DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2231AE0D-60A7-4CE5-A240-B7B48A6D5EBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A9AF585-A56F-4857-8B39-3A94897C8837</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BEF174B5-7570-41CE-AB63-7ADD4DF7D483</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9ABA3D6F-0450-4E68-83C2-A3A5FAE12B74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2231AE0D-60A7-4CE5-A240-B7B48A6D5EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikhil Gupta</string>
	<key>description</key>
	<string>Generate DataURL for the current file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DataURL Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>source ~/.zshenv; dataurl $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2231AE0D-60A7-4CE5-A240-B7B48A6D5EBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<false/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Generate DataURL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>9ABA3D6F-0450-4E68-83C2-A3A5FAE12B74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A9AF585-A56F-4857-8B39-3A94897C8837</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require 'json'
require 'digest/sha2'

# Clipboard content is expected to be a URL
query = `pbpaste`
hash  = Digest::SHA256.hexdigest(query)
ext   = File.extname(query)
path  = "/tmp/#{hash}#{ext}"

command = "/usr/local/bin/wget -qct 3 '#{query}' -O '#{path}'"
system(command)

print path</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A3C2723-AA56-4A27-9208-D5D2415A15DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>dataurl</string>
				<key>subtext</key>
				<string>Generate DataURL for the URL in clipboard!</string>
				<key>text</key>
				<string>DataURL Generator</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>12EB22FB-3B04-45CC-9B83-4C6427645ED6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>DataURL copied to Clipboard!</string>
				<key>title</key>
				<string>DataURL Generator</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BEF174B5-7570-41CE-AB63-7ADD4DF7D483</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A3C2723-AA56-4A27-9208-D5D2415A15DB</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>12EB22FB-3B04-45CC-9B83-4C6427645ED6</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>2231AE0D-60A7-4CE5-A240-B7B48A6D5EBE</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8A9AF585-A56F-4857-8B39-3A94897C8837</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9ABA3D6F-0450-4E68-83C2-A3A5FAE12B74</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>BEF174B5-7570-41CE-AB63-7ADD4DF7D483</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>nikhgupta.com</string>
</dict>
</plist>
