<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customFields</key>
	<array>
		<dict>
			<key>action</key>
			<string>default.clipboard</string>
			<key>schemeurl</key>
			<string></string>
			<key>uid</key>
			<string>alfred.contact.field.name</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>skype:{query}?call</string>
			<key>uid</key>
			<string>alfred.contact.field.phone</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>mailto:{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.email</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.url</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>http://maps.google.com/maps?q={query}</string>
			<key>uid</key>
			<string>alfred.contact.field.address</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>gtalk:{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.instant.googletalk</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>skype:{query}?call</string>
			<key>uid</key>
			<string>alfred.contact.field.instant.skype</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>http://twitter.com/{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.profile.twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>http://facebook.com/{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.profile.facebook</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>http://www.linkedin.com/in/{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.profile.linkedin</string>
		</dict>
		<dict>
			<key>action</key>
			<string>default.urlscheme</string>
			<key>schemeurl</key>
			<string>http://flickr.com/{query}</string>
			<key>uid</key>
			<string>alfred.contact.field.profile.flickr</string>
		</dict>
	</array>
</dict>
</plist>
