#!/usr/bin/env zsh
#
#   This is a template for the private `zshenv` file of Nikhil Gupta.
#   This file is intended as an example template to store all secret
#   environment variables and configuration, that should not be
#   versioned in this git repository. Please, note that configuration in
#   this file (mostly, environment variables) will be visible to GUI
#   apps like MacVim.
#
#   Note that, you should never version any files containing your
#   private date for public projects on Github, which is why this file
#   is being managed via Dropbox, and is symlinked at `~/.zshenv.local`

# my name and my email - all that defines me ;)
export MY_NAME="Your Name"
export MY_MAIL="your@email.address"

# 90% times, all the services will have this nick name pointing at me
# which makes it very essential to track this ;)
export MY_NICK="your-super-awesome-nick"

# git credentials
export GIT_AUTHOR_NAME="$MY_NAME"
export GIT_AUTHOR_EMAIL="$MY_MAIL"

export GIT_COMMITTER_NAME="$MY_NAME"
export GIT_COMMITTER_EMAIL="$MY_MAIL"

export GITHUB_USER="$MY_NICK"
export GITHUB_TOKEN="your-github-token"
export BITBUCKET_USER="$MY_NICK"
export BITBUCKET_PASSWORD="your-bitbucket-password"

# SimpleNote Configuration
export SIMPLENOTE_USER="$MY_MAIL"
export SIMPLENOTE_PASS="your-simplenote-password"

# TODOIST API
export TODOIST_TOKEN="your-todoist-password"

# DigitialOcean API token
export DIGITALOCEAN_CLIENT_ID="your-digitalocean-client-id"
export DIGITALOCEAN_API_TOKEN="your-digitalocean-api-token"
