"*":
  "atom-beautify":
    erb:
      default_beautifier: "HTML Beautifier"
  "atom-ide-ui":
    "debugger-exceptionBreakpointsCollapsed": true
  "better-git-blame":
    gutterDateFormat: "DD-MM-YY"
    searchInLayerEnabled: false
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    debugLSP: true
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    useTreeSitterParsers: false
    warnOnLargeFileLimit: 10
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 16
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "aa82a5c4-01bf-4c7f-b7de-08d3cee14687"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  kite:
    showWelcomeNotificationOnStartup: false
  "linter-ui-default":
    showPanel: true
  "spell-check":
    locales: [
      "en-US"
    ]
  "split-diff": {}
  welcome:
    showOnStartup: false
".elixir.source":
  editor:
    scrollPastEnd: false
    showIndentGuide: false
".elixir.text":
  editor:
    scrollPastEnd: false
    showIndentGuide: false
